* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #faf3e0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.header {
  width: 100%;
  background: #e57d90;
  padding: 12px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #f99aaa;
  position: sticky;
  top: 0;
  box-sizing: border-box;
}

.logo-area {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo-img {
  width: 70px;
  height: 70px;
  border-radius: 10px;
  object-fit: cover;
}

.logo-text {
  font-size: 26px;
  font-weight: bold;
  color: #faf3e0;
}

.menu {
  display: flex;
  align-items: center;
  gap: 25px;
}

.menu a {
  text-decoration: none;
  color: #f3e9dd;
  font-weight: bold;
  font-size: 16px;
  transition: color 0.2s;
}

.menu a:hover,
.menu a.active {
  color: #ffe8c9;
}

.perfil-admin {
  display: flex;
  align-items: center;
  gap: 10px;
}

.perfil-icon {
  font-size: 26px;
  color: #f3e9dd;
}

.admin-name {
  font-size: 16px;
  color: #f3e9dd;
  font-weight: bold;
}

.logout-btn {
  background: #faf3e0;
  color: #e57d90;
  padding: 10px 20px;
  border-radius: 8px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.3s;
  border: 2px solid #faf3e0;
}

.logout-btn:hover {
  background: transparent;
  color: #faf3e0;
  border: 2px solid #faf3e0;
  transform: translateY(-2px);
}

.footer {
  background: #e57d90;
  color: #FAF3E0;
  padding: 18px;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  left: 0;
  border-top: 2px solid #f99aaa;
}

.main-content {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 40px;
  margin-bottom: 60px;
}

.main-content h1 {
  font-size: 36px;
  color: #fdb4bf;
  font-weight: bold;
}